<footer class="footer">
    <div class="footer__container">
        <section>
            
            <p class="footer__about-text">Informática Brambilla Ltda ME </p>
            <p class="footer__about-text">CNPJ: 09.623.346/0001-10</p>
            <a class="footer__about-text" href="#">
                <p class="footer__about-text"><i class="fa-solid fa-location-dot"></i> 
                Av. Presidente Vargas, 192
                </p>
            </a>
            
                <p class="footer__about-text">Marumbi - Pr</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <li><i class="fa-solid fa-envelope"></i> informaticabrambilla@gmail.com</li>
            <li><i class="fa-solid fa-phone"></i> (43) 99967-8659</li>
            <li><i class="fa-brands fa-whatsapp"></i> (43) 99967-8657</li>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados 2023
        <p class="footer__autor">Site Criado por FernandoHB</p>

    </section>
</footer>