.search-form{
    height: 44px;
    display: block;
    border-radius: 2px;
}

.search-form input{
    box-sizing: border-box;
    height: 56px;
    padding: 28px;
    flex:1;
    background-color: var(--light-gray);
    color: var(--gray);
    border: none;
    transition: all -3s ease-in-out;
    font-size: 22px;
    border-radius: 2px;
}

.search-form button{
    width: 56px;
    height: 56px;
    background-color: var(--blue);
    border:none;
    color: #fff;
    font-size: 22px;
    border-radius: 2px;
}


@media (max-width: 1366px){
    .search-form input{
      width: 200px;
    }
}