<h2 class="cart__title"></h2>
<div *ngIf="itensCarrinho.length>0, else carrinhoVazio">
    <ul>
        <li *ngFor="let itemCarrinho of itensCarrinho">
            <img [src]="itemCarrinho.imagem"/>
            <p>{{itemCarrinho.descricao}}</p>
            <p>Valor unitário {{itemCarrinho.preco | currency: "BRL"}} </p>
            <label>
                Quantidade:
                <input type="number"[(ngModel)]="itemCarrinho.quantidade" (change)="calcularTotal()">
                <a class="button__reflesh"><i class="fa-solid fa-arrows-rotate"></i></a>
            </label>
            <p>Total: {{(itemCarrinho.preco)*(itemCarrinho.quantidade)| currency: "BRL"}}</p>
            <button class="remove-button" (click)="removerProdutoCarrinho(itemCarrinho.id)"><i class="fa-solid fa-trash"></i></button>
        </li>
    </ul>
    <div class="cart__total">
        <div>
            <h2> Total {{totalCarrinho | currency:"BRL"}}</h2>
        </div>
        <div>
            <button (click)="comprar()">Comprar</button>
        </div>
    
    
    </div>
</div>
<ng-template #carrinhoVazio >

    <section class="empty__cart">
        <i class="fa-solid fa-cart-arrow-down"></i>
        <p>Carrinho Vazio!</p>
        <button a routerLink="/produtos" class="button">Continuar Comprando</button>
    </section>
  
    

    </ng-template>